* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1b1b1c: #1b1b1c;
}
.section-heading {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 30px;
}
.card-wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #111111;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
/* Header */

.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
.header-upper {
  background-color: var(--color-131921);
}
.header-bottom {
  background-color: var(--color-232f3e);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-upper-links a {
  color: #ffffff;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 300;
}

.header-bottom a,
.dropdown button {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px);
}
.header-bottom .dropdown-item {
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover {
  color: var(--color-febd69);
  background-color: transparent;
}
/* Header */

/* Footer */
footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid var(--color-3b4149);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
footer h4 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 4px;
}
footer p {
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  margin-top: 5px;
}
footer .footer-links a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin-top: 5px;
  font-size: 13px;
}
footer .social-networks {
  display: flex;
}
footer .social-networks a {
  color: white;
}
footer .social-networks .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 8px;
  width: 40px;
  height: 40px;
  background-color: var(--color-3b4149);
  border-radius: 50%;
}
footer .social-networks .social-icons:hover {
  background-color: var(--color-3b4149);
}
footer .app-download-icon {
  display: flex;
  justify-content: space-around;
}
footer .app-download-icon img {
  height: 60px;
  width: auto;
  margin: 5px 5px;
}
/* Footer */

/* Home */
.home-wrapper-1 .main-banner-content img {
  position: relative;
}
.home-wrapper-1 .main-banner-content-text {
  position: absolute;
  top: 40%;
  margin: 10px 10px;
  padding: 10px 20px;
}
.home-wrapper-1 .main-banner-content-text h4 {
  text-transform: uppercase;
  color: var(--color-febd69);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5;
  line-height: 30px;
}
.home-wrapper-1 .main-banner-content-text h5 {
  text-transform: capitalize;
  font-size: 42px;
  font-weight: 600;
  color: var(--color-3b4149);
  letter-spacing: 0.5;
  line-height: 50px;
}
.home-wrapper-1 .main-banner-content-text p {
  line-height: 30px;
  font-size: 18px;
}
.home-wrapper-1 .main-banner-content-text a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1;
}
.home-wrapper-1 .main-banner-content-text .btn {
  padding: 10px 20px;
  background-color: var(--color-232f3e);
  border-radius: 10px;
}
.home-wrapper-1 .sub-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.home-wrapper-1 .sub-banner .sub-banner-content {
  width: 49%;
  margin-top: 10px;
}
.home-wrapper-1 .sub-banner-content img {
  position: relative;
  width: 90%;
  height: 90%;
}
.home-wrapper-1 .sub-banner-content-text {
  position: absolute;
  top: 15%;
  margin-left: 15px;
  margin-top: 15px;
}

.home-wrapper-1 .sub-banner-content-text h4 {
  text-transform: uppercase;
  color: var(--color-febd69);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3;
  line-height: 20px;
}
.home-wrapper-1 .sub-banner-content-text h5 {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-3b4149);
  letter-spacing: 0.3;
  line-height: 20px;
}
.home-wrapper-1 .sub-banner-content-text p {
  line-height: 18px;
  font-size: 12px;
}
.home-wrapper-1 .sub-banner-content-text a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  letter-spacing: 1;
}
.home-wrapper-1 .sub-banner-content-text .btn {
  padding: 5px 10px;
  background-color: var(--color-232f3e);
  border-radius: 10px;
}

/* Home wrapper 2 */

.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
.home-wrapper-2 .services {
  display: flex;
  justify-content: space-around;
}
.home-wrapper-2 .services .icons {
  font-size: 32px;
}
.home-wrapper-2 .services-text {
  margin-left: 15px;
}
.home-wrapper-2 .services p {
  font-size: 14px;
  margin-bottom: 0;
}

/* Home wrapper 2 */
/* Categories */
.categories {
  background-color: #fff;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}
.categories img {
  width: 100px;
  height: 100px;
  margin: 5px;
}
.categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.categories .context {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}
.categories > div {
  width: 19%;
}
.categories .context {
  border-right: 1px solid var(--color-ededed);
  border-bottom: 1px solid var(--color-ededed);
}
.categories .context:hover {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.marquee-inner-wrapper {
  display: flex;
  align-items: center;
}
.marquee-inner-wrapper div {
  align-items: center;
}
.marquee-inner-wrapper img {
  width: 150px;
  margin: 0px 30px;
}
/* Categories */

/* Special Products */
.special-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 24px;
}
.special-card .percent-off {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--color-bf4800);
  opacity: 0.8;
  padding: 5px;
  width: 70px;
}
.special-card .percent-off span {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
}
.special-card .card-image img {
  object-fit: contain;
}
.special-content {
  padding: 15px;
}
.special-content h6 {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-bf4800);
}
.special-content h5 {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-1b1b1c);
}
.special-content .discount-price p {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-bf4800);
  letter-spacing: 1px;
}
.special-content .discount-price span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-1b1b1c);
  opacity: 0.5;
  text-decoration: line-through;
}
.special-content .quantity {
  font-size: 13px;
  color: var(--color-3b4149);
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5;
  margin: 10px 0px;
}
.special-content .btn-add {
  background-color: var(--color-232f3e);
  border: 1px solid var(--color-232f3e);
  color: #ffffff;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  margin-top: 25px;
  border-radius: 20px;
}
.special-content .btn-add:hover {
  background-color: #ffffff;
  border: 1px solid var(--color-bf4800);
  color: var(--color-bf4800);
}
/* Special Products */

/* Popular Products */
.popular {
  display: flex;
  justify-content: space-between;
}
.popular > div:nth-child(1) .popular-card {
  padding: 20px;
  background-color: black;
  border-radius: 10px;
}
.popular > div:nth-child(1) .popular-detail h6,
.popular > div:nth-child(1) .popular-detail h5,
.popular > div:nth-child(1) .popular-detail p {
  color: var(--color-ededed);
}

.popular-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.popular-detail {
  height: 150px;
}
.popular-detail h6 {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-3b4149);
  text-transform: uppercase;
}
.popular-detail h5 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.popular-detail p {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
.popular-image img {
  height: 200px;
}
/* Popular Products */

/* Featured Collection */

.collection-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0;
}
.collection-card:hover {
  cursor: pointer;
}
.collection-card .collection-image {
  display: flex;
  height: 175px;
  padding: 5px 5px;
  justify-content: center;
}
.collection-card .collection-image img {
  object-fit: contain;
}
.collection-card .collection-image > img:last-child {
  display: none;
}
.collection-card:hover .collection-image > img:nth-child(1) {
  display: none;
}
.collection-card:hover .collection-image > img:last-child {
  display: block;
}

.collection-card .collection-detail h6 {
  color: var(--color-bf4800);
  font-weight: 400;
  font-size: 15px;
  padding: 5px 0px;
}
.collection-card .collection-detail h5 {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-1b1b1c);
  padding: 5px 0px;
}
.collection-detail .description {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-777777);
  opacity: 0.5;
}
.collection-card .collection-detail p {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-1b1b1c);
  padding: 5px 0px;
}
.collection-card .action-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  right: 6%;
  top: 3%;
}
.collection-card .icon {
  color: var(--color-bf4800);
  opacity: 0.6;
}
.collection-card .icon:hover {
  opacity: 1;
}
.collection-card .visible {
  display: none;
}
.collection-card:hover .visible {
  display: flex;
}

/* Featured Collection */

/* Blog */

.blog-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
.blog-card:hover {
  cursor: pointer;
}
.blog-card p {
  color: var(--color-777777);
  font-size: 13px;
  line-height: 20px;
}
.blog-card h5 {
  font-size: 18px;
  line-height: 30px;
}
.blog-wrapper .blog-card button {
  background-color: var(--color-232f3e);
  border: 1px solid #fff;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
}
.blog-wrapper .blog-card button:hover {
  background-color: #fff;
  color: var(--color-bf4800);
  border: 1px solid var(--color-bf4800);
}
.single-blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
}
.single-blog-card a {
  display: flex;
  align-items: center;
  color: var(--color-777777);
  font-size: 15px;
  padding: 10px;
}
.single-blog-card a:hover {
  color: var(--color-131921);
}
.single-blog-card h3 {
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  font-weight: 600;
  color: var(--color-1b1b1c);
}
.single-blog-card p {
  color: var(--color-777777);
  font-size: 16px;
}
.single-blog-card img {
  width: 75%;
  margin-bottom: 35px;
}
/* Blog */

/* Home End */

/* Store Page */

.filter-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.filter-card li {
  list-style-type: none;
  font-size: 14px;
  line-height: 28px;
  margin-left: -25px;
  color: var(--color-131921);
  opacity: 0.5;
}
.filter-card li:hover {
  opacity: 1;
  cursor: pointer;
}
.sub-title {
  font-size: 16px;
  margin: 15px 0px;
}
.store-wrapper .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.store-wrapper .form-check-input:checked {
  background-color: var(--color-bf4800);
}
.store-wrapper .form-check label {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-131921);
  opacity: 0.5;
}
.store-wrapper .form-check label:hover {
  opacity: 1;
  cursor: pointer;
}
.color-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: -25px;
}
.color-list div {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  margin: 0 5px;
}
.color-list div:hover {
  cursor: pointer;
}
.product-tags {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.product-tags span {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-232f3e);
  background-color: var(--color-ededed);
  border-radius: 5px;
}
.product-tags span:hover {
  cursor: pointer;
}
.random-product img {
  margin-top: 15px;
}
.random-product h5 {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}
.random-product > div:nth-child(1):hover {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img {
  height: 30px;
  width: 30px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
}
.grid img:hover {
  cursor: pointer;
}
.gr-12 .collection-card {
  display: flex;
  align-items: center;
  gap: 20px;
}
.gr-12 .collection-card img {
  width: 250px;
}
.gr-12 .action-bar {
  right: 1%;
}
.gr-6 .action-bar {
  right: 3%;
}
/* Store Page */
/* Blog Page */

.col-6 .blog-card {
  margin-bottom: 15px;
}

/* Blog Page End */
/* Contact Page */

.contact-inner-wrapper {
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff;
}
.contact-inner-wrapper > div {
  width: 48%;
}
.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-top: 0;
}
.contact-inner-wrapper .button {
  margin-top: 10px;
  text-align: right;
  margin-right: 3%;
}
.contact-inner-wrapper button {
  padding: 12px 24px;
  background-color: var(--color-232f3e);
  border: 1px solid var(--color-232f3e);
  border-radius: 10px;
  color: #fff;
}
.contact-inner-wrapper button:hover {
  padding: 12px 24px;
  background-color: #ffffff;
  border: 1px solid var(--color-bf4800);
  border-radius: 10px;
  color: var(--color-bf4800);
}
.contact-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-icon {
  margin: 5px 15px;
}
/* Contact Page End */

/* Compare Product */

.compare-product-wrapper .col-3 {
  padding: 20px 10px;
  margin: 0px 8px;
  width: 23%;
  background-color: #ffffff;
  border-radius: 10px;
}
.compare-product-card .cross {
  top: 5px;
  right: 5px;
  width: 25px;
  padding: 5px;
  cursor: pointer;
}
.compare-product-card .product-card-image {
  height: 300px;
  align-content: center;
}
.compare-product-description {
  margin-top: 15px;
}
.compare-product-description .compare-title:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
.compare-product-description h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-1b1b1c);
}
.compare-product-description h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.compare-product-description p {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-777777);
  margin-bottom: 0;
}
.compare-product-description .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 28px;
  margin: 15px 0px;
}
.compare-product-description .details .color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-bf4800);
  margin-left: 5px;
}
/* Compare Product End */

/* Wishlist */
.wishlist-wrapper .col-2 {
  padding: 20px 10px;
  margin: 0px 8px;
  width: 15%;
  background-color: #ffffff;
  border-radius: 10px;
}
.wishlist-card .cross {
  top: -15px;
  right: -5px;
  width: 25px;
  padding: 5px;
  cursor: pointer;
}
.wishlist-card .wishlist-card-image {
  height: 200px;
  align-content: center;
}
.wishlist-description h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-1b1b1c);
}
.wishlist-description h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* Wishlist End */

/* Login */
.login-wrapper {
  display: flex;
  justify-content: center;
}

.login-card {
  padding: 50px 100px;
  margin: 0px 8px;
  background-color: #ffffff;
  border-radius: 10px;
}
.login-card h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--color-131921);
}
.login-card p {
  margin-top: -5px;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
.login-card input {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 375px;
  background-color: rgba(60, 64, 67, 0.1);
}
.login-card a {
  text-decoration: none;
}
.login-card .button {
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  border: 1px solid var(--color-bf4800);
  color: var(--color-bf4800);
  background-color: white;
}
.login-card .button:hover {
  border: 1px solid var(--color-bf4800);
  color: white;
  background-color: var(--color-bf4800);
}
/* Login End */
/* Policy */
.policy {
  background-color: #ffffff;
  padding: 30px;
}
/* Policy End */
/* Detail Product Page */
.description-wrapper h4,
.reviews-wrapper h4 {
  font-size: 26px;
  color: var(--color-1b1b1c);
  margin-bottom: 15px;
}
.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777);
}
.review-inner-wrapper {
  background-color: #ffffff;
  padding: 30px;
}
.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.review-head h4 {
  font-size: 18px;
  color: var(--color-1b1b1c);
}
.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-777777);
}
.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}
.review-form .button {
  display: flex;
  justify-content: end;
}
.review-form button {
  padding: 12px 24px;
  background-color: var(--color-232f3e);
  border: 1px solid var(--color-232f3e);
  border-radius: 10px;
  color: #fff;
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p {
  font-size: 14px;
  color: var(--color-777777);
}
/* Detail Product Page End */
